@import "mocha.css";

* {
  font-family: CaskaydiaMono Nerd Font;
  font-size: 16px;
  min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
}

#workspaces {
  border-radius: 1rem;
  margin: 5px 0;
  background-color: @surface0;
  margin-left: 10px;
}

#workspaces button {
  color: @subtext0;
  border-radius: 1rem;
  padding: 0.6rem;
}

#workspaces button.active {
  color: @mauve;
  border-radius: 1rem;
}

#workspaces button:hover {
  color: @mauve;
  border-radius: 1rem;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#custom-lock,
#custom-power {
  background-color: @surface0;
  padding: 0.5rem 0.9rem;
  margin: 5px 0;
}

#clock {
  color: @blue;
  border-radius: 0px 1rem 1rem 0px;
  margin-right: 1rem;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight,
#battery {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 1rem 0px 0px 1rem;
  margin-left: 1rem;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
  border-radius: 1rem 0px 0px 1rem;
  color: @lavender;
}

#custom-power {
  border-radius: 0px 1rem 1rem 0px;
  color: @red;
  margin-right: 10px;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}